head
  title title
  link(rel="stylesheet" href="#{path}/styles/styles.css")
  script(type="text/javascript" src="#{path}/scripts/vendor.min.js")
  script(type="text/javascript" src="#{path}/scripts/app.js")
body
  p hi

    