head
  title Monthly Board Meeting
  link(rel="stylesheet" href="#{path}/styles/styles.css")
  link(rel='stylesheet' href='https://fonts.googleapis.com/css?family=Lato:400,900,300,100,300italic,700'  type='text/css')
  script(type="text/javascript" src="#{path}/scripts/vendor.min.js")
  script(type="text/javascript" src="#{path}/scripts/app.js")

    