section
  .wrapper
    h1 Section 1
    h2 H2 title
    h3 H3 title
    h4 H4 title

    p body copy
    
    ul
      li list item 1
      li list item 2
      li list item 3
    ol
      li ordered list item 1
      li ordered list item 2
      li ordered list item 3
